.search-box
{
	padding-left: 300px;
}
.box1
{
	display: flex;
	flex-wrap: wrap;
	float: left;
	height: 30px;
	width: 500px;
}
.icon1
{
	display: flex;
	flex-wrap: wrap;
	object-fit: scale-down;
	height: 34px;
	width: 50px;
	border: 1px groove;
}
.icon1 img
{
	cursor: pointer;
	object-fit: scale-down;
	padding-left: 10px;
}
.icon1:hover
{
	background-color: yellow;
}
.header1
{
	display: flex;
	flex-wrap: wrap;
	padding-top :50px;
}
.container1
{
	background-color: #f2f2f2;
	padding: 15px;
	height: 825px;	
}
h3
{
	padding-left: 30px;
}
.box
{
	margin: 10px;
	float: left;
	height: 215px;
	width: 250px;
}
.photo
{
	float: right;
	display: flex;
	flex-wrap: wrap;
	height: 150px;
	width: 250px;
}
.photo img
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.para
{
	float: right;
	display: flex;
	flex-wrap: wrap;
	background-color:;
	padding: 20px;
	color: black;
}
.icon
{
	float: right;
	display: flex;
	flex-wrap: wrap;
	height: 40px;
	width: 40px;
}
.icon img
{
	
	padding: 10px;
	border-radius: 50px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header
{
	float: left;
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}
.container
{
	padding-left: 25px;
	display: flex;
	flex-wrap: wrap;
}
.intro
{
	padding-top: 10px;
	font-family: sans-serif;
	font-size: 20px;
}
.home
{
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}
.home img
{
	height: 30px;
	width: 30px;
}
.intro1
{
	padding-top: 10px;
	padding-left: 25px;
	font-family: sans-serif;
}
.horizontal
{
	width: 200px;
	margin-left:0px;
	margin-top: 10px;
}
.boy
{
	font-family: sans-serif;
}
.intro2
{
	font-family: sans-serif;
}
